.aside {
    width: 50%;
    margin: auto;
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    align-items: center;
}
.btn-browse, .btn-remove {
    /* border-radius: 0;
    margin-left: 5px;
    margin-right: 0;
    width: 20%;
    padding-left: 0;
    padding-right: 0;
    height: 90%; */
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #494949 !important;
    /* #e23e3e */
    /* border: none; */
    display: inline-block;
    transition: all 0.4s ease 0s;
    /* margin-right: 10px; */
}

.btn-browse:hover,
.btn-remove:hover {
    color: #ffffff !important;
    /* background: #f6b93b;
    border-color: #f6b93b !important; */
    background: #e23e3e;
    border-color: #e23e3e !important;
    transition: all 0.4s ease 0s;
}

.filename {
    /* border: 2px solid red; */
    border: none;
    border-bottom: 2px solid blue;
    height: 30px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 13px;
    padding-top: 3px;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}
/* 
.btn-remove {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
} */