/* .div_files {
    border: 4px solid violet;
    width: 60%;
    margin: auto;
    margin-top: 1%;
} */

.div_files {
    
        position: relative;
        margin: auto;
        overflow-y: true;
        width: 50%;
        /* height: 350px; */
        background: #F5F5F5;
        box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
        border-radius: 10px;
        margin-top: 5%;
      
}